<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
<%- include('partials/_header.ejs') %>
<main role="main" class="container mt-4">
  <div id="assetInfo">
    <!-- Asset information will be dynamically inserted using JavaScript -->
  </div>
  
  <div id="assetNews" class="mt-4">
    <!-- Asset news will be dynamically inserted using JavaScript -->
  </div>
  
  <div id="commentsSection" class="mt-4">
    <!-- Comments will be dynamically inserted using JavaScript -->
  </div>
</main>
</body>
<%- include('partials/_footer.ejs') %>
<script src="/js/assetDetailPage.js"></script>
</html>